:root {
	--color-text: theme(colors.stone.950);
	--outline-color: var(--color-text);

	--menu-icon-w: 30px;
	--menu-icon-line-h: 3px;

	--header-color: theme(colors.stone.950);

	--color-site-bg: #f6f6f6;
	--color-yellow: #e3c06d;
	--color-green: #9cac76;
	--color-blue: #96b9c7;
	--color-purple: #eaaf9a;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Montserrat', sans-serif;
		color: var(--color-text);
		scroll-behavior: smooth;
		background: var(--color-site-bg);
	}

	*:focus-visible {
		outline: 3px dashed var(--outline-color);
		outline-offset: 2px;
	}

	a {
		color: inherit;
		text-decoration: 2px underline;
		text-underline-offset: 2px;
	}

	a:hover {
		text-decoration: none;
	}

	img {
		width: 100%;
		height: auto;
		box-sizing: border-box;
	}
	article {
		flex: 1;
		padding: theme(padding.3);
		box-sizing: border-box;
		position: relative;
	}
}

@layer components {
	.container {
		@apply mx-auto;
		max-width: 1200px;
	}
	.cover-container {
		@apply relative w-fit z-10;
	}
	.cover-container::before,
	.cover-container::after {
		@apply content-[''] absolute inset-0 rounded-[0.5em] border-5 border-current transition-transform duration-300 translate-x-[-5px] translate-y-[5px] hover:translate-x-0 hover:translate-y-0;
		box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.25);
	}
	.cover-container::before {
		@apply bg-[var(--color-purple)] rotate-[-15deg] hover:-rotate-6 delay-200;
	}
	.cover-container::after {
		@apply bg-[var(--color-green)] rotate-[-5deg] hover:rotate-3 delay-100;
	}
}

@layer utilities {
	.bg-pattern {
		background-image: linear-gradient(var(--color-site-bg) 1px, transparent 1px),
			linear-gradient(to right, var(--color-site-bg) 1px, var(--color-blue) 1px);
		background-size: 30px 30px;
		background-attachment: fixed;
		box-shadow: inset 0 0px 1em rgba(0, 0, 0, 0.5);
	}

	.circle-sketch-highlight {
		@apply relative inline-block z-0;
	}

	.circle-sketch-highlight::before,
	.circle-sketch-highlight::after {
		content: '';
		position: absolute;
		left: -0.3em;
		width: calc(100% + 0.3em);
		height: 1.3em;
		padding: 0.1em 0.25em;
		border: 0.15em solid var(--color-sketch);
		border-radius: 50%;
		z-index: -1;
	}

	.circle-sketch-highlight::before {
		border-right-color: transparent;
		transform: rotate(2deg);
		top: -0.1em;
	}

	.circle-sketch-highlight::after {
		border-left-color: transparent;
		border-top-color: transparent;
		transform: rotate(-1deg);
		top: 0.1em;
	}
}

h1,
h2,
h3 {
	@apply mb-4;
	font-family: 'Orelega One', serif;
}

h1 {
	@apply text-4xl;
	line-height: 1.25;
}
h2 {
	@apply text-4xl;
}
h3 {
	@apply text-2xl;
}

@media (min-width: 768px) {
	h1 {
		@apply text-5xl;
		line-height: 1.25;
	}
	h2 {
		@apply text-5xl;
	}
	h3 {
		@apply text-3xl;
	}
}
