html {
	font-size: var(--body-font-size);
	line-height: 1.5;
	font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h5,
.h5,
h6,
.h6 {
	font-weight: 700;
	font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
}

.text-bold {
	font-weight: 700;
}

.text-light {
	font-weight: 300;
}

h1,
.h1 {
	font-size: calc(
		1rem * var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio) *
			var(--font-size-ratio)
	);
}
h2,
.h2 {
	font-size: calc(1rem * var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio));
}
h3,
.h3 {
	font-size: calc(1rem * var(--font-size-ratio) * var(--font-size-ratio));
}
h4,
.h4 {
	font-size: calc(1rem * var(--font-size-ratio));
}
h5,
.h5 {
	font-size: 1rem;
}
small,
h6,
.h6,
.text-sm {
	font-size: calc(1rem / var(--font-size-ratio));
}
