:root {
	--color-text: theme(colors.stone.950);
	--color-text-inverse: theme(colors.stone.100);
	--outline-color: var(--color-text);

	--menu-icon-w: 30px;
	--menu-icon-line-h: 3px;

	--header-color: theme(colors.stone.950);

	--color-site-bkg: #efebe5;
	--color-yellow: #fce46c;
	--color-pink: #eda0a8;
	--color-blue: #aac5fe;
	--color-purple: #d2b6ff;
}
