article {
	flex: 1;
	padding: theme(padding.3);
	/* min-height: 100vh; */
	box-sizing: border-box;
	position: relative;
}
article:not(:first-of-type) {
	padding-top: 64px;
	margin-bottom: 64px;
}
article:last-of-type {
	margin-bottom: 0;
	padding-bottom: 64px;
}

.container {
	@apply mx-auto;
	max-width: 1200px;
}

.container-sm {
	@apply mx-auto;
	max-width: 960px;
}

img {
	width: 100%;
	height: auto;
	box-sizing: border-box;
}
