article {
	flex: 1;
	padding: theme(padding.3);
	box-sizing: border-box;
	position: relative;
}

.container {
	@apply mx-auto;
	max-width: 1200px;
}

img {
	width: 100%;
	height: auto;
	box-sizing: border-box;
}
